//#color{
//
//}

//#opacity{
//
//}

#eraser{
  background-image: url("/data/img/icons/eraser-midnight.png");
}

#clear{
  background-image: url("/data/img/icons/brush-midnight.png");
}

#paint{
  background-image: url("/data/img/icons/paint-brush-midnight.png");
}